# Node
**/node_modules/
**/dist/
**/public/dist/
npm-debug.log*

# Env files
**/.env
**/.env.local

# Go
apps/analytics-engine/server
apps/analytics-engine/bin/

# Editors / OS
.DS_Store
.idea/
.vscode/
